:root {
  --title: 'Almarai', sans-serif;
  --sec: 'Saira', sans-serif;
}

body {
  color: #1C2321;
}

.imageAboutPage {
  width: 100%;
}

.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon, .profileIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-interests{
  padding-bottom: 200rem;
}

.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #DC602E;
}
.servicesText:hover {
  border: 1px solid #DC602E;
}
.navbarScroll.navbarDark {
  background-color: #E3E7AF;
  /* opacity: .85; */
  color: white;
}

.social-icons, .docLinks {
  font-size: 36px;
  cursor: pointer;
  display: inline-block;
}
.fa-envelope:hover,.fa-linkedin:hover, .fa-github:hover, .fa-file:hover {
  color: #DC602E;
}
.fab, .fas, .fa {
  color: #7D98A1;
}

#footer {
  background-color: #E3E7AF;
  text-align: center;
  padding: 1rem 4rem;
}

#experience, #portfolio, #education {
  margin-top: 5rem;
  padding-top: 5rem;
}
#interests {
  padding-bottom: 2rem;
  margin-top: 5rem;
}

#about {
  margin-top: 2rem;
  padding-top: 2rem;
}

p,li {
  font-family: var(--sec);
}

h1, h4, .navlink {
  font-family: var(--title);
}

.profileIcon {
  cursor: pointer;
}

:hover.profileIcon {
  color: #DC602E;
}

.social-icons .mt-4{
  display: inline-block;
  margin-right: 10px; 
  padding-bottom: 2rem;
}

a .navlink {
  color: #1C2321;
  text-decoration: none;

}

.column-list {
  column-count: 4; 
  column-gap: 20px; 
  list-style-type: none;
  padding: 0;
}

.column-list li {
  margin-bottom: 10px;
}

.card.card-interests.card-body.interest-card:hover{
  border-color: #DC602E;
}

.int-icon:hover{
  color: #DC602E;
}