:root {
  --title: 'Almarai', sans-serif;
  --sec: 'Saira', sans-serif;
}
/* hero background image */
.bgimage {
  height:100vh;
  background: url('images/background.jpeg');
  background-size: cover;
  position:relative;
}
/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}
/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon, .profileIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: red;
}
.servicesText:hover {
  border: 1px solid red;
}
.navbarScroll.navbarDark {
  background-color: black;
}
/* social media icons styling */
.social-icons, .docLinks {
  font-size: 36px;
  cursor: pointer;
  display: inline-block;
}
.fa-envelope:hover,.fa-linkedin:hover, .fa-github:hover {
  color: red;
}
.fab, .fas {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
  padding: 1rem 4rem;
  /* padding-bottom: 1rem; */
}
/* spacing on all sections */
#experience, #portfolio, #education {
  margin-top: 5rem;
  padding-bottom: 5rem;
}
#education {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

#about {
  margin-top: 2rem;
  padding-top: 2rem;
}

p,li {
  font-family: var(--sec);
}

h1, h4, .navlink {
  font-family: var(--title);
}

.profileIcon {
  cursor: pointer;
}

:hover.profileIcon {
  color: red;
}

/* Add this CSS to your existing styles */
.social-icons .mt-4{
  display: inline-block;
  margin-right: 10px; 
  padding-bottom: 2rem;
  margin-bottom: ;
}

.navlink {
  color: #000000;
}